/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Lora', Verdana;
    line-height: 1.7em;
}
a {
    text-decoration: none;
    color: dodgerblue;
}
a:visited {
    color: mediumslateblue;
}
a:hover {
    color: #ccc;
}

/* Navigarion Bar */
#navbar {
    background-color: #666;
    width: 100%;
}
#navbar li {
    list-style-type: none;
    border-bottom: 1px solid white;
}
#navbar li a {
    display: inline-block;
    color: white;
    width: 100%;
    padding: .6em 0;
    text-align: center;
    font-weight: bold;
}
#navbar li a:hover {
    background: linear-gradient(lightgreen, mediumseagreen);
}
a#active {
    background: linear-gradient(lightgreen, mediumseagreen);
}

/* MAIN */
main {
   position: relative;
}
main:before {
    content : "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url(images/bg2.jpg); 
    background-attachment: fixed;  
    width: 100%;
    height: 100%;
    opacity : 0.6;
}

/* SECTION */
.firstSection h2 { /* welcome msg */
    padding: 10% .5em 10%;
}
.firstSection p {
    padding: 0 .5em 20%;
}
.secondSection { /* contains 2 photos */
    padding: 10% 0;
    background-image: url(images/bg1.JPG);
    box-shadow: 1px 3px 20px #333;
}
.secondSection h2 {
    margin-bottom: 5%;
}
.thirdSection { /* table */
    background-image: url(images/seattle.jpg);
    background-attachment: fixed;
    padding-bottom: 3em;
}
.thirdSection h2, .thirdSection td, .thirdSection p {
    color: white;
}
.thirdSection h2 {
    padding: 3em 0 1.5em 0;
}
#placeList > li {
    margin-left: 1.3em; 
}
img {
    width: 100%;
}
figcaption {
    font-size: .7em;
    font-style: italic;
    text-align: center;
}

/* TABLE */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 2px solid #333;
    padding: .7em;
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    font-size: .8em;
    padding: 1em 0;
    font-family: sans-serif;
    font-weight: bold;
}





/*--------------- FOR LARGER SCREENS ---------------*/
@media screen and (min-width:600px) {
    .wrap {
        max-width: 960px;
        margin: 0 auto;
    }
    #navbar {
        text-align: center;
        position: fixed;
        z-index: 10;
        box-shadow: 1px 3px 10px #333;
    }
    #navbar ul li {
        display: inline-block;
        border: none;
        margin: 0 1em;
    }
    #navbar ul li a {
        padding: .5em 1em;
    }
    
    
    
    
    
}