/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Verdana;
    line-height: 1.7em;
}
a {
    text-decoration: none;
    color: dodgerblue;
}
a:hover {
    color: #ccc;
}
/* Navigarion Bar */
#navbar {
    background-color: #666;
    width: 100%;
}
#navbar li {
    border-bottom: 1px solid white;
}
#navbar li a {
    display: inline-block;
    color: white;
    width: 100%;
    padding: .6em 0;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
}
#navbar li a:hover {
    background: linear-gradient(lightgreen, mediumseagreen);
}
/* MAIN */
main {
   position: relative;
}
main:before {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(images/bg2.jpg); 
    background-attachment: fixed;  
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}

/* BACKGROUND EFFECT */
.parallax {
    background-image: url(images/bg1.JPG);
    box-shadow: 1px 3px 20px #333;
}

/* SECTION */
section:first-child h2 {
    padding: 10% .5em 10%;
}
section:first-child p {
    padding: 0 .5em 20%;
}
.secondSection {
    margin: 10% 0;
}


#placeList > li {
    margin-left: 1.3em; 
}
img {
    width: 100%;
}
figcaption {
    font-size: .7em;
    font-style: italic;
    text-align: center;
}



/* TABLE */
table {
    border-collapse: collapse;
    width: 100%;
    border-color: #ccc;
}
th, td {
    padding: .7em;
    text-align: center;
}




footer {
    text-align: center;
    font-size: .8em;
    margin-top: 3em;
}